body {
	font-size: 14px;
	color: #333;
	background-color: #fff;
	letter-spacing: 1px;
}
.overlay {
	width:100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	background-color: rgba(0, 0 ,0, 0.4);
}

.slides-navigation {
	z-index: 6;
}
.slides-navigation .prev, 
.slides-navigation .next {
	width: 42px;
	height:42px;
	background-size: cover;
	background-repeat: no-repeat;
}
.slides-navigation a.prev {
	left: 20px;
	background-image: url(.../img/previousi.png);
}
.slides-navigation a.next {
	right: 20px;
	background-image: url(.../img/nexti.png);
}

.titleMessage {
	position: absolute;
	width: 100%;
	height: 250px;
	top: 50%;
	z-index: 4;
	text-align: center;
	margin-top: -125px;
	color: #F8EFBA;
}

.titleMessage .heading p {
	color: #F8EFBA;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
	font-weight: 100;
	letter-spacing: 7px;
}
.titleMessage .heading .main {
	font-size: 50px;
}
.titleMessage .heading .sub {
	font-size: 23px;
}

.section{
	padding: 100px 0;

}
.aboutImage {
	max-width: 80%;
	max-height: 50%;
}
.skillsSection,
.contactSection {
	background-color: #fab1a0;
	color: #fff;
}
.skill {
	text-align: center;
	margin-left: 10px;
}
.chart {
	position: relative;
	width: 152px;
	height: 152px;
	display: inline-block;
	text-align: : center;
}
.chart canvas {
	position: absolute;
	left: 0;
	right:0;
}
.chart .percent {
	color: #000;
	line-height: 152px;
	display: inline-block;
	font-size: 35px;
}
.chart .percent:after {
	content: ;
}
a {
	color: #eb4d4b;
}

#experience {
	letter-spacing: 1px;
	font-weight: 100;
	background-origin: white;
}
h2.heading {
	letter-spacing: 2px;
}
.contactButton {
	color: #fff;
	padding: 15px 20px;
	display: inline-block;
	margin-top: 20px;
	border: 1px solid #fff;
	border-radius: 2px;
}
.contactButton:hover {
	text-decoration: none;
	color: #eb4d4b;
	background-color: #fff;
}
.filter a {
	color: #eb4d4b;
	border: 1px solid #fab1a0;;
	padding: 15px 18px;
	display: block;
}
.filter li {
	display: inline-block;
	padding: 5px;
}
.filter .current {
	background-color: #fab1a0;
	border-color: #fab1a0;
	color: #fff;
}
.filter {
	text-align: center;
	width: 100%;
}
.section .heading {
	text-align: center;
	padding-bottom: 40px;
	width: 100%;
}
.items li {
	display: inline-block;
	padding: 5px;
}
.itemsContainer {
	width: 100%;
}
.items li img {
	width: 100%;
	-webkit-transition: all 0.2s linear, 1s;
	-moz-transition: all 0.2s linear, 1s;
	-o-transition: all 0.2s linear, 1s;
	-ms-transition: all 0.2s linear, 1s;
	-transition: all 0.2s linear, 1s;
}
.items .item {
	position: relative;
	display: block;
	overflow: hidden;
}
.items .icons {
	position: absolute;
	width: 90px;
	height: 40px;
	left: 50%;
	top: 50%;
	margin: -20px auto 0 -47px;
	text-align: center;
	z-index: 3;
}
.items .imageOverlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0px;
	top: 0px;
	opacity: 0;

	-webkit-transition: all 0.2s linear, 1s;
	-moz-transition: all 0.2s linear, 1s;
	-o-transition: all 0.2s linear, 1s;
	-ms-transition: all 0.2s linear, 1s;
	-transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
	opacity: 1;
}
.items .item:hover img {
	-webkit-transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	-o-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	-transform: scale(1.05, 1.05);
}

.items {
	padding: 0;
}
#navigation {
	background-color: #fab1a0;
	padding: 20px 10px;
	z-index: 100;
	width: 100%;
}
#navigation li {
	padding: 0 10px;
}

#navigation li a {
	color: #fff;
}

.navbar-toggler-icon {
	background: url(.../img/menui.png);
	background-size: 100%;
}

.fixedNav #navigation {
	position: fixed;
	top:0;
}
.loader {
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
}
.loader .inner {
	width: 100%;
	height:100%;
	background: url(.../img/805i.gif) center center no-repeat;
}
